<!doctype html>
<html lang="en-us">
<head>
<link rel="icon" href="favicon.ico">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="description" content="Decentralized short-term investments powered by the tron blockchain technology.">
<title>STARTRON.XYZ</title>
<link rel="stylesheet" href="fonts/import.css">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/jqueryui.css">
<link rel="stylesheet" href="css/custom.css?q=tq">
<link rel="stylesheet" href="css/custom-slider.css">
<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.js"></script>
<script src="js/jquery.ui.touch-punch.min.js"></script>
<script src="js/jquery.toast.min.js"></script>
<script src="js/jquery.cookie.min.js"></script>
<script src="js/moment.js"></script>
<script src="js/countdown.js"></script>
<script src="js/tronweb.js"></script>
<style>[v-cloak] { display:none; }</style>
</head>
<body>
<div class="b-app" id="App" v-cloak>

	<div id="c_hero" class="container" style="background: none !important; border: none !important">
		<img src="img/logo.png">
	</div>

	<div class="container" v-if="contract.launch_date > current_date">
		<div class="sub">
			<h1 style="text-align: center; position: relative">Launching in {{ countdown(new Date(contract.launch_date * 1000)).toString() }} <img src="img/rocket.png" id="rocket"></h1>
		</div>
	</div>
	
	<div class="container">
		<div class="sub">
			<h6>&check;&nbsp; Verified Contract</h6>
			<h6>&check;&nbsp; Up to 10% daily</h6>
			<h6>&check;&nbsp; Up to 20% referral bonus</h6>
			<h6>&check;&nbsp; Up to 300% return of investment</h6>
		</div>
	</div>
	
	
	
	<div id="c_invest" class="container">
		<div class="sub">
			<h1>Account Info</h1>
			<h5>Total Invested:</h5><h6 id="total_invest">{{ user.total_invested }}</h6>
			<h5>Referral Bonus:</h5><h6 id="total_refer">{{ user.total_match_bonus }}</h6>
			<h5 v-if="contract.launch_date < current_date">Withdrawn TRX:</h5><h6 id="total_refer" v-if="contract.launch_date < current_date">{{ user.total_withdrawn }}</h6>
		</div>
		<div class="sub">
			<h5>Current Withdrawable</h5>
			<h6>{{ user.for_withdraw }}</h6>
			<button v-if="contract.launch_date < current_date" id="btn_withdraw" @click.prevent="withdraw()" style="background: linear-gradient(60deg, #006653, #00ced0)">WITHDRAW</button>
		</div>
		<div class="sub" v-if="contract.launch_date > current_date">
			<h4>Withdraw available after official launching.</h4>
		</div>
	</div>
	<div class="container" v-if="user.total_invested > 0 && tronWeb != undefined">
		<div class="sub">
			<h1>Investment Data</h1>
			<table>
				<thead><th>Amount</th><th>Ends in</th><th>Withdrawable</th></thead>
				<tr v-for="dep in user.deposits" v-if="dep[1] != 0">
					<td>{{ tronWeb.fromSun(dep[1]) }} trx</td><td><!--{{ moment().add(dep[2], 'seconds').fromNow() }}-->{{ countdown(new Date(new Date().getTime() + (dep[2] * 1000))).toString() }}</td><td>{{ tronWeb.fromSun(dep[3]) }} trx</td>
				</tr>
			</table>
		</div>
	</div>
	
	
	
	<div class="container" style="background: linear-gradient(-140deg, #333, #000)">
		<div class="sub">
			<h1>plan i</h1>
			<h4>300% in 60 days &middot; 5% daily roi</h4>
			<input type="number" min="10" placeholder="10 trx" value="10" id="trx_value" v-model.number="calc.amount" @change="calc.amount = calc.amount < 10 ? 10 : calc.amount">
			<button id="btn_invest" @click.prevent="deposit(0, calc.amount)">deposit</button>
		</div>
	</div>
	<div class="container" style="background: linear-gradient(-140deg, #ccc, #555)">
		<div class="sub">
			<h1>plan ii</h1>
			<h4>240% in 40 days &middot; 6% daily roi</h4>
			<input type="number" min="10" placeholder="10 trx" value="10" id="trx_value1" v-model.number="calc.amount1" @change="calc.amount1 = calc.amount1 < 10 ? 10 : calc.amount1">
			<button id="btn_invest1" @click.prevent="deposit(1, calc.amount1)">deposit</button>
		</div>
	</div>
	<div class="container" style="background: linear-gradient(-140deg, #ffcb00, #93430d)">
		<div class="sub">
			<h1>plan iii</h1>
			<h4>200% in 25 days &middot; 8% daily roi</h4>
			<input type="number" min="10" placeholder="10 trx" value="10" id="trx_value2" v-model.number="calc.amount2" @change="calc.amount2 = calc.amount2 < 10 ? 10 : calc.amount2">
			<button id="btn_invest2" @click.prevent="deposit(2, calc.amount2)">deposit</button>
		</div>
	</div>
	<div class="container" style="background: linear-gradient(60deg, #006653, #00ced0)">
		<div class="sub">
			<h1>plan iv</h1>
			<h4>150% in 15 days &middot; 10% daily roi</h4>
			<input type="number" min="10" placeholder="10 trx" value="10" id="trx_value3" v-model.number="calc.amount3" @change="calc.amount3 = calc.amount3 < 10 ? 10 : calc.amount3">
			<button id="btn_invest3" @click.prevent="deposit(3, calc.amount3)">deposit</button>
		</div>
	</div>
	
	<div id="c_data" class="container">
	
		<div class="sub" v-if="contract.launch_date > current_date">
			<h1>Pre-launch Event</h1>
			<h4>Invite your friends before official launch and gain additional 5% referral bonus on every level!</h4>
			<table>
				<thead><th>Level</th><th>Referral Bonus</th><th v-if="user.total_invested > 0">Referrals</th></thead>
				<tr><td>1</td><td><span v-if="contract.launch_date > current_date" highlight>10% (+5%) &#128293;</span><span v-else>10%</span></td><td v-if="user.total_invested > 0" id="ref_lv1">{{ user.structure[0] }}</td></tr>
				<tr><td>2</td><td><span v-if="contract.launch_date > current_date" highlight>5% (+5%) </span><span v-else>5%</span></td><td v-if="user.total_invested > 0" id="ref_lv2">{{ user.structure[1] }}</td></tr>
				<tr><td>3</td><td><span v-if="contract.launch_date > current_date" highlight>3% (+5%) </span><span v-else>3%</span></td><td v-if="user.total_invested > 0" id="ref_lv3">{{ user.structure[2] }}</td></tr>
				<tr><td>4</td><td><span v-if="contract.launch_date > current_date" highlight>2% (+5%) </span><span v-else>2%</span></td><td v-if="user.total_invested > 0" id="ref_lv4">{{ user.structure[3] }}</td></tr>
			</table>
		</div>
		
		
		<div class="sub" v-if="contract.launch_date <= current_date">
			<h1>Referral Dashboard</h1>
			<h4>Share your referral link with your partners and get additional bonus when they invest!</h4>
			<table>
				<thead><th>Level</th><th>Referral Bonus</th><th>Referrals</th></thead>
				<tr><td>1</td><td><span v-if="contract.launch_date > current_date" highlight>10% (+5%) &#128293;</span><span v-else>10%</span></td><td id="ref_lv1">{{ user.structure[0] }}</td></tr>
				<tr><td>2</td><td><span v-if="contract.launch_date > current_date" highlight>5% (+5%) </span><span v-else>5%</span></td><td id="ref_lv2">{{ user.structure[1] }}</td></tr>
				<tr><td>3</td><td><span v-if="contract.launch_date > current_date" highlight>3% (+5%) </span><span v-else>3%</span></td><td id="ref_lv3">{{ user.structure[2] }}</td></tr>
				<tr><td>4</td><td><span v-if="contract.launch_date > current_date" highlight>2% (+5%) </span><span v-else>2%</span></td><td id="ref_lv4">{{ user.structure[3] }}</td></tr>
			</table>
		</div>
		
		
		<div class="sub" v-if="upline != default_upline">
			<h6>Referred by</h6>
			<h5>{{ upline }}</h5>
		</div>
		<div class="sub">
			<h6>Your Referral Link</h6>
			<h5>{{ location.origin }}/?ref={{ tron.account }}</h5>
			<button class="copytext" @click="copyText(location.origin + '/?ref=' + tron.account)">COPY</button>
		</div>
	</div>

	<div class="container">
		<div class="sub">
			<h6>Questions?</h6>
			<button id="view_telegram" @click="window.open('https://t.me/startron_official')">JOIN OUR TELEGRAM GROUP &nbsp;&nbsp;[&#x2197;]</button>
			<button id="view_contract" @click="window.open('https://tronscan.org/#/contract/TTZBpPqcxxxEQZY6VomXqSKAh2g9mt6mci/code')">VERIFIED SMART CONTRACT &nbsp;&nbsp;[&#x2197;]</button>
		</div>
	</div>
	
	<div class="container" v-if="contract.launch_date < current_date">
		<div class="sub">
			<h4 style="text-align: center">Contract running for {{ countdown(new Date(contract.launch_date * 1000)).toString() }}!</h4>
			
		</div>
	</div>

	<div class="container" style="Box-shadow: none; border: none; background: none; color: #fff">
		&copy; StarTRON (<a href="https://startron.xyz">https://startron.xyz/</a>)
	</div>
	
</div>

<script src="js/vue.js"></script>
<script src="js/custom.js?v=2"></script>
</body>
</html>